@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

  html {
     font-size: 16px;
     scroll-behavior: smooth;
     scroll-padding-top: 4rem;
   }

  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
 }

 nav {
  display: flex;
  height: 4rem;
  width: 100%;
  background-color: lightblue;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  flex-wrap: nowrap;
  position: sticky;
  z-index: 1;
  top: 0;
 }

 nav .logo {
  width: 10rem;
  height: 2.5rem;
 }

 nav .logo img {
  width: 100%;
  height: 100%;
 }

 input[type="checkbox"] {
  display: none;
 }

 nav .menu-btn i {
  color: crimson;
  font-size: 1.375rem;
  cursor: pointer;
  display: none;
 }

 nav .nav-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
 }

nav .nav-menu li {
 margin: 0 5px;
 }

 nav .nav-menu li a {
  color: black;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0.5rem 0.9375rem;
  border-radius: 0.3125rem;
  latter-spacing: 0.0625rem;
  transition: all .3s ease;
 }

nav .nav-menu li a:hover {
  color: #fff;
  background-color: crimson;
 }

/*Responsive design for mobile devices */
/*
@media (max-width: 1000px) {
   nav {
     padding: 0 40px 0 50px;
    }
  }
*/

 @media (max-width: 920px) {
   nav .menu-btn i {
      display: block;
    }

   #click:checked ~ .menu-btn i:before {
      content: "\f00d";
    }

   nav .nav-menu {
      position: fixed;
      top: 3.3rem;
      left: -100%;
      background-color: lightblue;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;

    }

    #click:checked ~ .nav-menu {
       left: 0px;
    }

   nav .nav-menu li {
      width: 100%;
      margin: 40px 0;
   }

   nav .nav-menu li a {
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 1.25rem;
      transition: 0.6s cubic-bezier (0.68, -0.55, 0.265, 1.55);
      color: black;
   }

    #click:checked ~ .nav-menu li a {
      margin-left: 0px;
    }

  
 }



/*Nav bar section ends here */


  .container {
    max-width: 53rem;
    margin: .5rem auto;
    background-color: white;
    padding: .8rem;
    border-radius: 0.625rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
 }


/*Registration form start here*/
  h1 {
    margin-bottom: 1.7rem;
    text-align: center;
    font-size: 1.3rem;
    padding: .5rem;
    color: #fff;
    background-color: crimson;
    border-radius: 0.3125rem;
 }


h2 {
    font-size: 1.25rem;
    margin-bottom: 1.6rem;
    margin-top: .2rem;
    color: crimson;
    text-align: center;
    border-bottom: 3px double black;
 }

form {
    background-color: #f0f8e2;;
    padding: 1.25rem;
    border-radius: 0.625rem;
    margin-bottom: 2rem;
 }

form label {
    display: block;
    margin-bottom: 0.3125rem;
    font-weight: bold;
    color: #2e0202;
 }

form input, form select {
    color: green;
    font-weight: 500;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.625rem;
    border-radius: 0.3125rem;
    border: 0.0625rem solid blue;
    box-sizing: border-box;
 }

input::placeholder {
    color: green;
  }

.id-group {
   display: flex;
   align-items: center;
 }

.prefix {
    margin-bottom: .59rem;
    height: 2.35rem;
    padding: 0.3rem;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    background-color: lightgray;
    border: 0.0625rem solid blue;
    font-weight: 500;
    user-select: none; /*it's already mention "IN" */
 }

form button {
    width: 100%;
    padding: 0.625rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    font-size: 1rem;
 }


form button:hover {
    background-color: #0056b3;
 }
/*Registration form ends here*/


/*employees list start*/
.employee-list, .employee-details {
    background-color: #f0f8e2;
    padding: 1.25rem;
    border-radius: 0.625rem;
    margin-bottom: 2rem;
 }

 .employee-list ul {
    list-style: none;
    padding: 0;
 }

 .employee-list li {
    font-size: 1rem;
    margin-bottom: 0.3125rem;
    border-bottom: 1px solid crimson;
 }


.employee-list li a {
    text-decoration: none;
    color: #007bff;
 }

 .employee-list li a:hover {
    text-decoration: underline;
 }

/*employees list ends here*/

/*Employee details start*/

.employee-details table {
    width: 100%;
    border-collapse: collapse;
 }

 .employee-details th,
 .employee-details td {
    padding: 0.2rem;
    border: 0.0625rem solid #ccc;
    text-align: center;
    font-size: .8rem;
    color: black;
  }

  .employee-details th {
     background-color: #007bff;
     color: white;
     text-align: center;
 }
/*Employee details end here*/

/*Company location start*/
.map-section {
     margin-top: 2rem;
  }

  .map-section iframe {
     width: 100%;
     height: 18.75rem;
     border: 0;
     border-radius: 0.625rem;
  }
/*company location ends here*/

/*footer section start*/
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    padding: 1rem;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.footer-container p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 0rem;
    line-height: 1.2rem;
}

.footer-container a {
   text-decoration: none;
 }

.footer-container span {
  color: crimson;
 }
/*footer section ends here*/
