/* Root font size for rem scaling */
  html {
    font-size: 16px; /* 1rem = 16px * */
    scroll-behavior: smooth;
   }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    scroll-behavior: smooth;
  }
 
nav{
  display: flex;
  height: 4.375rem;
  max-width: 100%;
  background: #dff0ee;;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav .logo{
  width: 13rem;
  height: 2.5rem;
  margin-left: -2rem;
}

.logo img {
 width: 100%;
 height: 100%;
 }


nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin-left: auto;
}


nav ul li{
  margin: 0 0.1875rem;
}


nav ul li a{
  color: black;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0.5rem 0.9375rem;
  border-radius: 0.3125rem;
  letter-spacing: 0.0625rem;
  transition: all 0.3s ease;
/*  white-space: nowrap;*/
}


nav ul li a.active,
nav ul li a:hover{
  color: #fff;
  background: crimson;
}


nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}




 .container {
    max-width: 50rem;
    margin: .5rem auto;
    background-color: white;
    padding: .8rem;
    border-radius: 0.625rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
 }

  h1 {
    margin-bottom: 1.7rem;
    text-align: center;
    font-size: 1.5rem;
    padding: .5rem;
    color: #fff;
    background-color: crimson;
    border-radius: 0.3125rem;
 }

  h2 {
    font-size: 1.25rem;
    margin-bottom: 1.6rem;
    margin-top: .2rem;
    color: crimson;
    text-align: center;
    border-bottom: 3px double black;
 }

 form {
    background-color: #f0f8e2;;
    padding: 1.25rem;
    border-radius: 0.625rem;
    margin-bottom: 2rem;
 }

 form label {
    display: block;
    margin-bottom: 0.3125rem;
    font-weight: bold;
    color: #2e0202;
 }


 form input, form select {
    color: green;
    font-weight: 500;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.625rem;
    border-radius: 0.3125rem;
    border: 0.0625rem solid blue;
    box-sizing: border-box;
 }

 input::placeholder {
    color: green;
  }

 .id-group {
   display: flex;
   align-items: center;
 }

  .prefix {
    margin-bottom: .59rem;
    height: 2rem;
    padding: 0.3rem;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    background-color: lightgray;
    border: 0.0625rem solid blue;
    font-weight: 500;
    user-select: none; /*it's already mention "IN" */
 }

 form button {
    width: 100%;
    padding: 0.625rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    font-size: 1rem;
 }

 form button:hover {
    background-color: #0056b3;
 }

 .employee-list, .employee-details {
    background-color: #f0f8e2;
    padding: 1.25rem;
    border-radius: 0.625rem;
    margin-bottom: 2rem;
 }

 .employee-list ul {
    list-style: none;
    padding: 0;
 }

 .employee-list li {
    font-size: 1.125rem;
    margin-bottom: 0.3125rem;
    border-bottom: 1px solid crimson;
 }


.employee-list li a {
    text-decoration: none;
    color: #007bff;
 }
  
 .employee-list li a:hover {   
    text-decoration: underline;
 }

 .employee-details table {
    width: 100%;
    border-collapse: collapse;
 }

 .employee-details th, 
 .employee-details td {
    padding: 0.5rem;
    border: 0.0625rem solid #ccc;
    text-align: center;
    font-size: .8rem;
    color: black;
  }

  .employee-details th {
     background-color: #007bff;
     color: white;
     text-align: center;
 }

  .map-section {
     margin-top: 2rem;
  }

  .map-section iframe {
     width: 100%;
     height: 18.75rem;
     border: 0;
     border-radius: 0.625rem;
  }



.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    padding: 1rem;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.footer-container p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 1.5rem;
    line-height: 1.2rem;
}

.footer-container a {
   text-decoration: none;
 }

.footer-container span {
  color: crimson;
 }





/*Responsive Media queries for mobile device*/


@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}


@media (max-width: 920px) {
   nav {
    height: 60px;    
    background-color: #dff0ee;
  }
  nav .menu-btn i{
    display: block;
    color: crimson;
  }

  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }


  nav ul{
    position: absolute;
    top: 64px;
    left: -120%;
    background-color: white;
    height: 50%;
    width: 100%;
 /*   text-align: center;*/
   
    display: block;
  }

  #click:checked ~ ul{
    left: 0;
    background-color: pink;
   
  }
  nav ul li{
    width: 90%;
    margin: 25px -40px;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
  }
  #click:checked ~ ul li a{
    margin-left: 2.7rem;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: crimson;
    color: white;
  }
}

@media (max-width: 768px) {
  nav .menu-btn {
    display: block;
  }
  nav ul {
    display: none;
  }
  #click:checked ~ ul {
    display: block;
  }
}
